In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('./data/news_summary_more.csv')
data.head()

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer..."
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98401 entries, 0 to 98400
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   headlines  98401 non-null  object
 1   text       98401 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [6]:
data.drop_duplicates(inplace=True)
data.dropna(inplace=True)

In [7]:
data[(data['headlines'].apply(len) == 0) | (data['headlines'].apply(len) == 0)]

Empty DataFrame
Columns: [headlines, text]
Index: []

In [14]:
train_X, other_X, train_y, other_y = train_test_split(data['text'], data['headlines'], test_size=0.2, shuffle=True)
val_X, test_X, val_y, test_y = train_test_split(data['text'], data['headlines'], test_size=0.5, shuffle=True)
print(f"""
shape of train data : {train_X.shape}
shape of val data : {val_X.shape}
shape of test data : {test_X.shape}

""")

shape of train data : (78703,)
shape of val data : (49189,)
shape of test data : (49190,)

In [17]:
pd.concat([train_X,train_y],axis=1).to_csv('./data/train.csv', header=False, index=False)
pd.concat([val_X,val_y],axis=1).to_csv('./data/val.csv', header=False, index=False)
pd.concat([test_X,test_y],axis=1).to_csv('./data/test.csv', header=False, index=False)